body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {

}

.levels {

}

.control {
    display: flex;
    width: 70%;
    height: 70px;
    margin: auto;
    /* border: 5px solid black; */
    align-items: center;
}


.control-element {
    flex: 1;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: 5px;
    font-weight: bolder;
    /* border: 2px solid blue; */
    }

.mines-counter {

}

.smiley {

}

.timer {

}

.lives {
    display: flex;
    width: 20%;
    height: 25px;
    margin: auto;
    align-items: center;
    /* border: 5px solid black; */
}
.lives-element {
    flex: 1;    
    height: 25px;
    line-height: 25px;
    /* margin: 5px; */
    /* border: 2px solid blue; */
}

.live1 {
    background-image: url('../img/heart-icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.live2 {
    background-image: url('../img/heart-icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

table {
    width: fit-content;
    height:fit-content;
    margin: auto;
    margin-top: 15px;
}

td {

}

.cell {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    color: black;
}

.marked {
    background-color: rgb(177, 60, 84);
    background-image: url('../img/checkpoint-flag-icon.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.shown {
    background-color:rgb(252, 209, 154) ;
    color: black;
}

.type-mine {
    /* visibility: hidden;
    background-color: lightgrey;
    background-image: url('../img/bomb-icon.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; */
}

.expld {
    background-color: red;
    background-image: url('../img/bomb-icon.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}




